<% # input collection of association
   # called for "render_association_to_put" helper
   # locals :
   #   association ... association with collection of assoc_targets
   #   form   ...    form for assoc_target
   #   options ... :single, :only_new, :collection_name, :item_name, :entity_template, :legend, :assoc_count

   assoc_name      = association.assoc_name.to_s
   prefix          = prefix_for_form(form) + "[#{assoc_name}]"
   entity_model    = association.target_model
   model_name      = entity_model.name 
   controller      = entity_model.new.controller_name  # controller name to get adding new template
   assoc_entity_id = association.assoc_entity.to_param
   default_since   = association.assoc_entity.since || @show_time
   root_entity_since = default_since.to_s(:db)
   collection_name = options[:collection_name] || controller
   options[:collection_name] = collection_name
#   entity_template = options[:entity_template] || "#{collection_name}/input/#{collection_name.singularize}"
	entity_template = "mails/input/to"
   base_div_id     = assoc_name + random_id  #should be unique in page.
   options ||= {}
   options[:base_div_id] = base_div_id
   single = options[:single] ? 'yes' : 'no'
   legend = options[:legend]
%>

<% assoc_collection = options[:only_new] ? association.find_all(&:new_record?) : association %>  
 
  
<table>
	<tr><td>
		<div id = "<%= base_div_id %>" >
			    <%= render(:partial    => entity_template,
	                       :locals     => {:prefix => prefix, 
	                                       :assoc_name => assoc_name,
	                                       :options => options},
	                       :collection => assoc_collection) %>
		</div>

		<div id = "<%= base_div_id + '_adding' %>" >	   
			<%= link_to_remote_with_params (legend.blank? ? "追加" : "#{legend}を追加"),
	             :url    => {:controller => controller, :action => :adding_assoc_target},  
	             :params => {:base_div_id => base_div_id,
                             :prefix => prefix, 
	                         :template  => entity_template,
                             :root_entity_since => root_entity_since,
	                         :options   => options}
	      %>
	    </div>

		<%= javascript_tag "recount_assoc_target_counters('#{base_div_id}', '#{single}')" %>
	 </td></tr>	
</table>
