<div class="select">
	<ul>
		<li>選択:</li>
		<li><%= link_to "すべて","javascript://" %></li>
		<li><%= link_to "選択解除","javascript://" %></li>
		<li><%= link_to "既読","javascript://" %></li>
		<li><%= link_to "未読","javascript://" %></li>
		<li><%= link_to "スター付き","javascript://" %></li>
		<li><%= link_to "スターなし","javascript://" %></li>
	</ul>
</div>