<% # body part of changing and changed password %>

	<div class="login-form" entity_id = "<%= @account.entity_id %>">
		<%= validity_error_holder :base %>
		<% form_tag change_password_account_path(@account), :method => :put do %>
           <table class="op-detail-inner">
				<tbody>
						<tr>
							<td>アカウント名<%= validity_error_holder :name %></td>
							<td><%=  text_field_tag "name", @account.name   %></td>
						</tr>
						<tr>
							<td>パスワード<%= validity_error_holder :password %></td>
							<td><%= password_field_tag "password", @account.password, :id => (password_id = "password_id")  %></td>
						</tr>
						<tr>
							<td colspan="2">
				                <%= check_box_tag "show_pass", 1, false,
                                      :onclick => "if (this.checked) p_type = 'text'; else p_type = 'password';$('#{password_id}').type = p_type;" %>
									パスワードを表示する
							</td>
						</tr>
					
					<tr>
						<td colspan="2"><%= submit_tag '変更実行' %></td>
					</tr>
					<tr>
						<td colspan="2"><%= link_to "ホームへ戻る", :controller => "/home" %></td>
					</tr>
				</tbody>
			</table>

		<% end %>
	</div>